form {
    width: 400px;
    margin: 0 auto;
}
label {
    color: #e74c3c;
    font-weight: bold;
}
button {
    background-color: #2ecc71;
}
button:hover {
    background-color: #27ae60;
}
fieldset {
    border: 2px solid #e74c3c;
    border-radius: 8px;
}
legend {
    font-size: 25px;
    font-weight: bold;
    color: #e74c3c;
}