form {
    width: 500px;
    margin: 0 auto;
}
label {
    color: #e74c3c;
    font-weight: bold;
}
input {
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    background: #fff;
}
button {
    background-color: #2ecc71;
    padding: 8px 10px;
    border-radius: 10px;
}
button:hover {
    background-color: #27ae60;
}
fieldset {
    border: 2px solid #e74c3c;
    border-radius: 8px;
    padding: 25px;
    background: #fafafa;
}
legend {
    font-size: 25px;
    font-weight: bold;
    color: #e74c3c;
}